@using PagedList.Mvc

@model PagedList.IPagedList<ASP_Project_DHS.Models.DauGia>

@{
    ViewBag.Title = "Index";
}
@section view_banner{
    <!--banner-->
    <div class="banner1">
        <div class="container">
            <h3><a href="index.html">Home</a> / <span>Products</span></h3>
        </div>
    </div>
    <!--banner-->
}
<!--content-->
<div class="content">
    <div class="products-agileinfo">
        <h2 class="tittle">Sản phẩm đấu giá</h2>
        <div class="container">
            <div class="product-agileinfo-grids w3l">
                <div class="col-md-3 product-agileinfo-grid">
                    @Html.Action("DanhMucLon", "DauGia")
                </div>
                <div class="col-md-9 product-agileinfon-grid1">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
                            <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="~/img/layout/menu1.png"></a></li>
                                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="~/img/layout/menu.png"></a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                    <div class="product-tab">
                                        @foreach (var item in Model)
                                        {
                                            <div class="col-md-4 product-tab-grid simpleCart_shelfItem" style="margin-bottom:30px">
                                                <div class="grid-arr" style="white-space:nowrap; overflow:hidden">
                                                    <div class="grid-arrival">
                                                        <figure>
                                                            <a href="@Url.Action("ChiTiet", "DauGia", new { id = item.ID})" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                                                <div class="grid-img">
                                                                    <img src="~/assets/images/@item.ID/nho.jpg" class="img-responsive" alt="">
                                                                </div>
                                                                <div class="grid-img">
                                                                    <img src="~/assets/images/@item.ID/nho.jpg" class="img-responsive" alt="">
                                                                </div>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    @*<div class="block">
                                                            <div class="starbox small ghosting"> </div>
                                                        </div>*@
                                                    <div class="women">
                                                        <h6><a href="@Url.Action("ChiTiet", "DauGia", new { id = item.ID})">@item.Ten</a></h6>
                                                        <span class="size" style="display: inline">@item.MoTa</span>
                                                        <p class="item_price">VND @String.Format("{0:N0}", item.GiaKhoiDiem)</p>
                                                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                    @*<div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                                        <div class="grid-arr">
                                        <div class="grid-arrival">
                                        <figure>
                                        <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        <div class="grid-img">
                                        <img src="~/img/layout/p28.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                        <img src="~/img/layout/p27.jpg" class="img-responsive" alt="">
                                        </div>
                                        </a>
                                        </figure>
                                        </div>
                                        <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                        </div>
                                        <div class="women">
                                        <h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
                                        <span class="size">XL / XXL / S </span>
                                        <p><del>$100.00</del><em class="item_price">$70.00</em></p>
                                        <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                        </div>
                                        </div>
                                        </div>*@
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                    <div class="product-tab1">
                                        @foreach (var item in Model)
                                        {
                                            <div class="col-md-4 product-tab1-grid" style="margin-bottom:20px">
                                                <div class="grid-arr">
                                                    <div class="grid-arrival">
                                                        <figure>
                                                            <a href="@Url.Action("ChiTiet", "DauGia", new { id = item.ID})" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                                                <div class="grid-img">
                                                                    <img src="~/assets/images/@item.ID/nho.jpg" class="img-responsive" alt="">
                                                                </div>
                                                                <div class="grid-img">
                                                                    <img src="~/assets/images/@item.ID/nho.jpg" class="img-responsive" alt="">
                                                                </div>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                                                @*<div class="block">
                                                        <div class="starbox small ghosting"> </div>
                                                    </div>*@
                                                <div class="women">
                                                    <h6><a href="@Url.Action("ChiTiet", "DauGia", new { id = item.ID})">@item.Ten</a></h6>
                                                    <span class="size">XL / XXL / S </span>
                                                    <p>@item.MoTa</p>
                                                    <p><em class="item_price">VND @String.Format("{0:N0}", item.GiaKhoiDiem)</em></p>
                                                    <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                                </div>
                                            </div>
                                                    <div class="clearfix"></div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                    </div>
                    <div class="text-center">@Html.PagedListPager(Model, page => Url.Action("Index", "DauGia", new { page }))</div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--content-->
