@model ASP_Project_DHS.Models.LoginVM

@section css{
    <link href="~/assets/css/account.style.css" rel="stylesheet" />
}

@section js{
    <script src="~/assets/jquery-validation-1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-success has-feedback').addClass('has-error has-feedback');
                    $(element).closest('.form-group').find('i.fa').remove();
                    $(element).closest('.form-group').append('<i class="fa fa-exclamation fa-lg form-control-feedback"></i>');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === "radio") {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).closest('.form-group').removeClass('has-error has-feedback').addClass('has-success has-feedback');
                    $(element).closest('.form-group').find('i.fa').remove();
                    $(element).closest('.form-group').append('<i class="fa fa-check fa-lg form-control-feedback"></i>');
                }
            }
        });

        $("#frmLogin").validate({
            rules: {
                UserName: {
                    required: true,
                },               
                RawPWD: {
                    required: true,
                    minlength: 6
                },                
            },

            messages: {
                UserName: {
                    required: 'Vui lòng nhập tên đăng nhập!'
                },               
                RawPWD: {
                    required: 'Vui lòng nhập mật khẩu!',
                    minlength: 'Mật khẩu phải tối thiểu 6 ký tự!'
                },                
            },

            //errorElement: 'span',
            //errorClass: 'help-block',
        });
    </script>
}

@section view_banner{
    <!--Banner Starts-->
    <div class="main-container container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li class="active">Đăng nhập</li>
        </ol>
    </div>
    <!--Banner Ends-->
}

<!-- Main Container Starts -->
<div class="main-container container">
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
        Đăng nhập hoặc tạo tài khoản mới
    </h2>
    <!-- Main Heading Ends -->
    <!--Alert (Thông báo) Starts-->
    @if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-warning alert-dismissible alert-dhs" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Xin lỗi!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <!--Alert (Thông báo) Ends-->
    <!-- Login Form Section Starts -->
    <section class="login-area">
        <div class="row">
            <div class="col-sm-6">
                <!-- Login Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đăng nhập</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Login Form Starts -->
                        <form class="form-horizontal" role="form" method="post" action="" id="frmLogin">
                            <div class="form-group">
                                <label for="txtUserName" class="col-sm-3 control-label">Tên đăng nhập</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtUserName" placeholder="Tên đăng nhập" autofocus="autofocus" name="UserName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPWD" class="col-sm-3 control-label">Mật khẩu</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="RawPWD">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Remember)
                                            Ghi nhớ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <a href="@Url.Action("QuenMatKhau","Account")">                                       
                                        Quên mật khẩu
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa fa-check"></i>
                                        Đăng nhập
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Login Form Ends -->
                    </div>
                </div>
                <!-- Login Panel Ends -->
            </div>
            <div class="col-sm-6">
                <!-- Account Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Tạo tài khoản mới
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Đăng kí tài khoản ngay. Để thực hiện các giao dịch cũng như trải nghiệm website tốt hơn!!!
                        </p>
                        <a href="@Url.Action("Register","Account")" class="btn btn-main">
                            Đăng kí
                        </a>
                    </div>
                </div>
                <!-- Account Panel Ends -->
            </div>
        </div>
    </section>
    <!-- Login Form Section Ends -->
</div>
<!-- Main Container Ends -->
